@font-face {
    font-family: "iconfont"; /* Project id 4596972 */
    src: url('//at.alicdn.com/t/c/font_4596972_v7urpfhr59a.woff2?t=1719215631738') format('woff2'),
         url('//at.alicdn.com/t/c/font_4596972_v7urpfhr59a.woff?t=1719215631738') format('woff'),
         url('//at.alicdn.com/t/c/font_4596972_v7urpfhr59a.ttf?t=1719215631738') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-linkedin-fill:before {
    content: "\eab1";
  }
  